{% extends "layout.html" %}

{% block title %}{{ title }}{% endblock %}

{% macro nav() %}
<div class="nav">
    {% if prev %}
        <a href='{{ prev.link }}'>&laquo; Anterior</a> &loz;
    {% endif %}
    <a href="{{ pathto('index') }}">Indice</a>
    {% if next %}
        &loz; <a href='{{ next.link }}'>Siguiente &raquo;</a>
    {% endif %}
</div>
{% endmacro %}

{% block hdnav %}{{ nav() }}{% endblock %}
{% block ftnav %}{{ nav() }}{% endblock %}

{% block content %}
  <div id="chapter-body">{{ body }}</div>
{% endblock %}
